body{
    background-color: #804000;
    color: black;
}
header{
    background-color: #804000;
    color: black;
    text-align: center;
    padding: 10px;
}
main{
    background-color: #F5DEB3;
    color: black;
    padding: 20px;
}
nav{
    background-color: #F5DEB3;
    color: green;
    text-align: center;
}
#footer{
    text-align: center;
    background-color: #F5DEB3;
    margin: 0px;
}
