
#header1{
    color: green ;
}
.para1{
    color: white;
    background-color: rgba(200, 100, 150, 0.5);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#head2{
    text-align: center;
}
body{
    background-color: rgb(100, 50, 200,);
}